* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    color: white;
}
html {
    scroll-behavior: smooth;
}

/* starts of navbar */
.navbar {
    position: fixed;
    top: 0;
    height: auto;
    width: 100vw;
    background-color: orange;
    z-index: 999;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px;
}

.nav-item {
    display: inline;
    margin: 0 10px;
}

.navlist{
    height: 100%;
}

.navlist ul li a {
    position: relative;
    z-index: 1;
}

/* nav item hover */
.navlist ul li a:hover {
    color: #91640F;
}

.navlist ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    content: '.';
    color: transparent;
    background: #F1C40F;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

.navlist ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

/* font of navbar */
.nav-link,
.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}
/* ends of navbar */

/* starts of content */
.container {
    height: 100vh;
    width: 100%;
    background-image: url(./images/stars.jpg);
    background-size: contain;
    background-attachment: fixed;
}
.container-content {
    height: 100vh;
    margin: 45px 20vw 0px;
}
.cards {
    height: 85vh;
    width: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* about */
#about-title {
    position: absolute;
    top: 90px;
}
#about-title h3 {
    color: white;
    font-size: 3rem;
}


/* text of about */
#about img, .intro {
    margin: 100px auto 60px;
}
#about {
    width: 100%;    
    background-color: rgba(0, 0, 0, 0.6);;
}
#cropper{
    width: auto;
    height: auto;
    overflow:hidden;
    border-radius: 10px;
}
#cropper img{
    position: relative;
    left: -11%;
}
.intro{
    margin-left: 20px;
    width: 600px;
}
/* font size and style */
.intro h2{
    text-transform: capitalize;
    font-size: 2.5rem;
    text-decoration: underline;
}
.intro .small-font {
    font-size: 2rem;
}
.intro .about-info {
    font-size: 18px;
    height: 120px; 
}
/* ends of about */

/* starts of resume */
.resume-back {
    background-image: url(./images/portfolioImage2.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0 ;
}
#resume-projects {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
}
.resume-btn {
    display: inline-block;
    background: #1e3551;
    color: #fff;
    font-size: 40px;
    padding: 10px 30px;
    margin: 30px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #1e3551;
    transition: background-color 0.3s;
    text-decoration: none;
    height: 70px;
    width: 600px;
    text-align: center;
}
.resume-btn:hover {
    height: 70px;
    width: 600px;
    background-color: orange;
}

/* resume */
#resume {
    margin-top: -300px;
}
#resume h3, #projects h3 {
    font-size: 50px;
    text-align: center;
}